.input-group {
    max-width: 110px;
    margin: 0 auto;

    input {
        height: 28px;
        max-width: 40px;
    }
}

.btn-sm {
    width: 28px;
    height: 28px;
    padding: 0;
    line-height: 1;
    background-color: #2e2e51;
    color: white;
}